/*consProd_1.txt
/*cplex_1.lp
/*dataActors_1.txt
/*dataSize_1.txt
/*edges_1.txt
/*freeCapacity_1.txt
/*readDelay_1.txt
/*selectivityMap_1.txt
/*Solution_1.txt
/*TimeStats_1.txt
/*writeDelay_1.txt
/*consProd_1.txt
/*cplex_1.lp
/*dataActors_1.txt
/*dataSize_1.txt
/*edges_1.txt
/*freeCapacity_1.txt
/*readDelay_1.txt
/*selectivityMap_1.txt
/*writeDelay_1.txt

/Log/*
/Stats/*
/latencies/*