/*.txt
/*.lp
/*.graph
/*.graph.*
/Log/*
/Stats/*
/offload/*

# This directory contains a sauvegarde of an infrastrcutre shortest paths latencies. It avoids computing them at every simulation.
/latencies/*

# Backups created with out.sh
out_*/

.idea/
ifogsim.iml
target/