/*.csv
/*.txt
/*.lp
/*.graph
/*.graph.*
/Log/*
/Stats/*

# This directory contains a sauvegarde of an infrastrcutre shortest paths latencies. It avoids computing them at every simulation.
/latencies/*
#/simulations/*
/simulations.0/*


# Backups created with bk.sh
out_*

.idea/
ifogsim.iml
target/